<div class="row">
    <div class="col-md-12">
        <img src="./assets/img/asoft_logo.png" width="15%">
    </div>
    <div class="col-md-12 title">
        <h1>{{ headerTool.name }}</h1>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <p>{{ headerTool.dateLabel }}</p>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="headerTool.opened" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="headerTool.open()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <label>{{ headerTool.nameLabel }}</label>
                <input class="form-control" type="text" placeholder="First Name">
            </div>
        </div>
    </div>
</div>